/* Hacer que el cuerpo ocupe todo el espacio disponible */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Chivo', sans-serif; font-weight: bold;
    background-color: #C4C4C4;
}

/* Footer sticky */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 434px;
    background-color: #F8F271; /* Fondo amarillo */
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* Triángulo invertido */
footer::before {
    content: "";
    position: absolute;
    bottom: 0; /* Colocar el triángulo en la parte inferior del footer */
    left: 0;
    width: 0;
    height: 0;
    z-index: -1;
    border-left: 50vw solid transparent; /* Mitad del viewport para cada lado */
    border-right: 50vw solid transparent;
    border-top: 434px solid #C4C4C4; /* Triángulo invertido con color gris */
}

.p-follow {
    max-width: 300px;
    text-align: center;
    float: right;
}

.p-follow a{
    margin-right: 10px;
    text-decoration: none;
}
.p-follow img{
    margin-right: 5px;
    width: 50px;
    height: 50px;
}

.p-logo {
    display: flex;
    align-items: center;
}

.p-logo1 img {
    width: 200px;
    height: 200px;
}

.p-logo img {
    margin-right: 10px;
    width: 300px;
    height: 40px;
}

.p-terminos {
    font-size: 12px;
    text-align: center;
    line-height: 3;
  }

  .p-info {
    display: flex; 
    align-items: center; 
    position: absolute;
  }

  .p-info p {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 12px;
  }

  .p-info img {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
  }